**/*.test.ts
**/*.test.js
src/
.github/
docs/
node_modules/
out/
.vscode/
webpack.config.js
tsconfig.json
jest.config.js
.eslintrc.json
.prettierrc
.prettierignore
.gitignore
*.md
!dist/extension.js
sync.png
